allow system_server touchpanel_sysfs:file rw_file_perms;
allow system_server touchpanel_sysfs:dir { search };
allow system_app qmuxd:unix_stream_socket connectto;
allow system_app qmuxd_socket:dir { add_name write };
allow system_app qmuxd_socket:sock_file { create setattr write };